<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Medicine Hat Food Bank</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/jquery-timepicker/jquery.timepicker.css" crossorigin="anonymous" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-timepicker/jquery.timepicker.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/availability.js"></script>
</head>
<body>
<div class="container">
    <main role="main" class="pb-3">
        <div class="text-center">
            <img style="height: 200px; width: 200px; margin-top: 2%; margin-bottom: -4%;" src="~/MHFB.png" alt="MHFB Logo" />
        </div>
        @RenderBody()
    </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <a href="https://www.mhfoodbank.com/">Medicine Hat Food Bank</a> &bull; <a href="mailto:info@mhfoodbank.com">info@mhfoodbank.com</a>
        </div>
    </footer>


@RenderSection("Scripts", required: false)
</body>
</html>
