@{
    Layout = "~/Areas/Admin/Pages/Shared/_Layout.cshtml";
}

@section Styles {
    @RenderSection("Styles", false)
}
<div class="ml-5 mr-5">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a id="volunteer-tab" class="nav-link" asp-page="./Volunteers">Volunteers</a>
        </li>
        <li class="nav-item">
            <a id="staff-tab" class="nav-link" asp-page="./Staff">Staff</a>
        </li>
    </ul>

    <div class="tab-content">
        <br />
        @RenderBody()
    </div>
</div>

