/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

:root {
    --primary: #343A40;
    --danger: #8A0C0C;
}

.form-control[readonly].datetime-readonly{
    background-color: #fff;
}

.chevron {
    transition: all 0.3s ease;
}

.opened {
    transform: rotate(90deg);
}

/*.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 0px solid #fff; 
}*/

.btn-collapse:focus {
    box-shadow: none;
}

.btn-collapse {
    box-shadow: none;
}

.btn-primary:hover {
    color: var(--primary);
    background-color: #fff;
    border-color: var(--primary);
}

.btn-reverse-primary{
    color: var(--primary);
    background-color: #fff;
    border-color: var(--primary);
}

.btn-primary {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-reverse-primary:not(:disabled):not(.disabled):active, .btn-reverse-primary:not(:disabled):not(.disabled).active, .show > .btn-reverse-primary.dropdown-toggle {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    color: #6c757d;
    background-color: #fff;
    border-color: #6c757d;
}

.btn-danger:hover {
    color: var(--danger);
    background-color: #fff;
    border-color: var(--danger);
}

.btn-danger {
    color: #fff;
    background-color: var(--danger);
    border-color: var(--danger);
}

.btn-reverse-danger:not(:disabled):not(.disabled):active, .btn-reverse-danger:not(:disabled):not(.disabled).active, .show > .btn-reverse-danger.dropdown-toggle {
    color: #fff;
    background-color: var(--danger);
    border-color: var(--danger);
}

.btn-reverse-danger {
    color: var(--danger);
    background-color: #fff;
    border-color: var(--danger);
}

.btn-outline-primary {
    color: #343A40;
    background-color: #fff;
    border-color: #343A40;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #343A40;
    border-color: #343A40;
}

.btn-outline-danger {
    color: #8A0C0C;
    background-color: #fff;
    border-color: #8A0C0C;
}

.btn-outline-danger:hover {
    color: #fff;
    background-color: #8A0C0C;
    border-color: #8A0C0C;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
  overflow-y: scroll;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.table.availability th, .table.availability td {
    border-top: none !important;
}