@media (min-width: 1660px) {
    #add-time-container {
        display: grid;
        grid-template-columns: 1fr .1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "add-time-position-label . add-time-volunteer-label" "add-time-position . add-time-volunteer" ". . ." "add-time-start-label . add-time-end-label" "datetime-fields datetime-fields datetime-fields";
        gap: .5rem;
    }
}

@media (max-width: 1659px ) {
    #add-time-container {
        display: grid;
        grid-template-columns: 1fr .1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "add-time-position-label . add-time-volunteer-label" "add-time-position . add-time-volunteer" ". . ." "add-time-start-label . add-time-end-label" "datetime-fields datetime-fields datetime-fields";
        gap: .5rem;
    }
}

@media (max-width: 1414px) {
    #add-time-container {
        display: grid;
        grid-template-columns: 1fr .1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "add-time-position-label . add-time-volunteer-label" "add-time-position . add-time-volunteer" ". . ." "add-time-start-label . add-time-end-label" "datetime-fields datetime-fields datetime-fields";
        gap: .5rem;
    }
}

@media (max-width: 632px) {
    body {
        font-size: .7em;
    }

    #add-time-container {
        display: grid;
        grid-template-columns: 1fr .1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "add-time-position-label . add-time-volunteer-label" "add-time-position . add-time-volunteer" ". . ." "add-time-start-label . add-time-end-label" "datetime-fields datetime-fields datetime-fields";
        gap: .5rem;
    }
}

#add-time-position {
    grid-area: add-time-position;
}

#add-time-volunteer {
    grid-area: add-time-volunteer;
}

#datetime-fields {
    grid-area: datetime-fields;
}

#add-time-position-label {
    grid-area: add-time-position-label;
}

#add-time-volunteer-label {
    grid-area: add-time-volunteer-label;
}

#add-time-start-label {
    grid-area: add-time-start-label;
}

#add-time-end-label {
    grid-area: add-time-end-label;
}