<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Medicine Hat Food Bank</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/jquery-timepicker/jquery.timepicker.css" crossorigin="anonymous" />
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <a href="https://www.mhfoodbank.com/">Medicine Hat Food Bank</a> &bull; <a href="mailto:info@mhfoodbank.com">info@mhfoodbank.com</a>
        </div>
    </footer>

    <script src="~/lib/jquery-validate/additional-methods.js"></script>
    <script src="~/js/availability.js"></script>
    <script src="~/lib/jquery-timepicker/jquery.timepicker.js"></script>
    <script>
        $(".time").timepicker({
            'timeFormat': 'G:i',
            'step': 15,
            'minTime': '6:00',
            'maxTime': '22:00'
        });
    </script>
</body>
</html>
