@{
    Layout = "/Areas/Volunteer/Pages/Shared/_Layout.cshtml";
}
<div class="ml-5 mr-5">
    <h1>Manage Your Information</h1>

    <div>
        <hr />
        <div class="row">
            <div class="col-md-2">
                <partial name="_ManageNav" />
            </div>
            <div class="col-md-10">
                @RenderBody()
            </div>
        </div>
    </div>


    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</div>
