@page
@model MHFoodBank.Web.Areas.Volunteer.Pages.VolunteerCalendarModel
@using MHFoodBank.Common;
@using MHFoodBank.Common.Dtos;
@using Microsoft.AspNetCore.Antiforgery;
@using Syncfusion.EJ2
@inject IAntiforgery antiForgery
@{
    ViewData["Title"] = "VolunteerCalendar";
    Layout = "~/Areas/Volunteer/Pages/Shared/_Layout.cshtml";
}

<script>
    var shifts;
</script>

@{
    var shiftManager = new DataManager
    {
        Adaptor = "UrlAdaptor",
        Url = "VolunteerCalendar?handler=GetShifts",
        CrossDomain = true,
        Headers = new object[] { new { RequestVerificationToken = antiForgery.GetTokens(HttpContext).RequestToken } }
    };
}

<div style="width: 97%; height: 85vh; margin: auto;">
    <button type="button" onclick="showOpenShifts()">show open shifts</button>
    <button type="button" onclick="showPrivateShifts()">show private shifts</button>
    <ejs-schedule id="schedule" selectedDate="DateTime.Now" width="100%" height="100%" readonly="true" popupOpen="onPopupOpen" created="initializeDataManager">
        <e-schedule-resources>
            <e-schedule-resource dataSource="Model.Positions" field="PositionId" title="Positions" allowMultiple="false" idField="Id" textField="Name" name="Positions"></e-schedule-resource>
        </e-schedule-resources>
        <e-schedule-eventsettings dataSource="shiftManager"></e-schedule-eventsettings>
        <e-schedule-quickinfotemplates header="#headerTemplate" content="#contentTemplate" footer="#footerTemplate">
        </e-schedule-quickinfotemplates>
    </ejs-schedule>

</div>

<script>
    var dataManager;
    var showPopup = false;
    function initializeDataManager() {
        let schedule = document.getElementById('schedule').ej2_instances[0];
        dataManager = schedule.dataModule.dataManager;
    }

    function showOpenShifts() {
        let schedule = document.getElementById('schedule').ej2_instances[0];
        dataManager.executeQuery(new ej.data.Query().addParams('type', 'open')).then(function (e) {
            schedule.eventSettings.dataSource = e.result;
            schedule.dataBind();
        });
        schedule.currentView = "TimelineDay";
        schedule.views = ['TimelineDay', 'TimelineWeek', 'TimelineMonth'];
        schedule.group.resources = ["Positions"];
        showPopup = true;
    }

    function showPrivateShifts() {
        let schedule = document.getElementById('schedule').ej2_instances[0];
        dataManager.executeQuery(new ej.data.Query().addParams('type', 'private')).then(function (e) {
            schedule.eventSettings.dataSource = e.result;
            schedule.dataBind();
        });
        schedule.currentView = "Week";
        schedule.views = ['Day', 'Week', 'Month'];
        schedule.group.resources = [];
        schedule.readOnly = false;
        showPopup = false;
    }

    function onPopupOpen(args) {
        if (args.type === 'QuickInfo') {
            if (showPopup === false) {
                args.cancel = true;
            }
        }
    }

</script>

<script id="headerTemplate" type="text/x-template">
    ${if (elementType !== 'cell')}
    <div class="e-header-icon-wrapper">
        <button class="e-close" title="CLOSE"></button>
    </div>
    <div class="e-subject-wrap">
        ${if (Subject)}
        <div class="e-subject e-text-ellipsis">${Subject}</div>
        ${/if}
    </div>
    ${/if}
</script>
<script id="contentTemplate" type="text/x-template">
    <div>
        ${if (elementType !== "cell")}
        <div class="e-cell-content">
            <button class="e-control e-btn e-lib e-primary e-event-save e-flat e-center" onclick="workShift()">Work This Shift</button>
            <input id="selected-shift-id" type="hidden" value="${Id}" />
            <input id="selected-shift-recurrence" type="hidden" value="${IsRecurrence}" />
            <input id="selected-shift-startdate" type="hidden" value="${StartTime}" />
        </div>
        ${/if}
    </div>
</script>
<script id="footerTemplate" type="text/x-template">
    <div>
        ${if (elementType === 'cell')}
        <div class="e-cell-footer">
            <button class="e-event-details" title="Extra Details">Extra Details</button>
            <button class="e-event-create" title="Add">Add</button>
        </div>
        ${else}
        <div class="e-event-footer">
            <button class="e-event-edit" title="Edit">Edit</button>
            <button class="e-event-delete" title="Delete">Delete</button>
        </div>
        ${/if}
    </div>
</script>

<script>
    function workShift() {
        let schedule = document.getElementById('schedule').ej2_instances[0];
        let shiftId = document.getElementById('selected-shift-id').value;
        let isRecurrence = document.getElementById('selected-shift-recurrence').value;
        let query = new ej.data.Query().addParams('shiftId', shiftId);
        if (isRecurrence === "true") {
            let startDate = document.getElementById('selected-shift-startdate').value;
            query.addParams('startDate', startDate);
        }

        dataManager.executeQuery(query).then(function (e) {
            schedule.eventSettings.dataSource = e.result;
        });

        //response.catch(function () {
        //    showOpenShifts();
        //    alert("Something went wrong when signing up for the shift.");
        //});

        schedule.currentView = "TimelineDay";
        schedule.views = ['TimelineDay', 'TimelineWeek', 'TimelineMonth'];
        schedule.group.resources = ["Positions"];
    }
</script>
