@page
@model MHFoodBank.Web.Areas.Volunteer.Pages.WelcomeModel
@{
    ViewData["Title"] = "Welcome";
    Layout = "~/Areas/Volunteer/Pages/Shared/_Layout.cshtml";
}

    <div class="ml-5 mr-5">
        <h3>You have access to the following features. You can:</h3>
        <br />
        <ul>
            <li><h5>Edit your personal information and password</h5></li>
            <li><h5>View your scheduled shifts</h5></li>
            <li><h5>Make requests to switch a shift with someone else or remove a shift entirely</h5></li>
            <li><h5>Change your weekly availability</h5></li>
        </ul>
        <br />
        <br />
        <br />
        <h4>Browse the options on the sidebar located on the left to get started!</h4>
    </div>

