@page
@model MHFoodBank.Web.Areas.Identity.Pages.ForgotPasswordModel
@{
    <div class="d-flex align-items-center justify-content-center">
        <h3>This feature is currently under development. Please ask your manager for your password to be reset.</h3>
    </div>
}
