@page
@model MHFoodBank.Web.Areas.Identity.Pages.ForgotPasswordModel

@{
    ViewData["Title"] = "Forgot your password";
}
@{
    <div class="mt-5">
        <div style="height: 20vh" class="text-center">
            <img class="h-100" src="~/MHFB.png" alt="MHFB Logo" />
        </div>
        <br />
        <br />
        <h2 class="text-center">@ViewData["Title"]</h2>
        <div class="row justify-content-center">
            <div class="col-md-4 text-left">
                <section>
                    <form method="post">
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <p>Enter your email address and we will send you a link to change your password. Make sure you check your spam/junk folder if the email is not in your inbox.</p>
                        <div class="form-group mb-4">
                            <label asp-for="Email"></label>
                            <input type="email" asp-for="Email" class="form-control" required />
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" style="background-color: #8CB436; border: none;" class="btn btn-primary w-100 mb-2" asp-page-handler="ForgotPassword">Submit</button>
                            <a class="btn btn-light w-100" asp-page="/Account/Login">Return to login</a>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
}
