@page
@model LoginModel

@{
    ViewData["Title"] = "Member Sign In";
}
    <div class="mt-5">
        @if (!string.IsNullOrWhiteSpace(Model.StatusMessage))
        {
            var statusMessageClass = Model.StatusMessage.StartsWith("Error") ? "danger" : "success";
        <div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @Model.StatusMessage
            @if (Model.RegisteredUserId > 0)
            {
                <form method="post" asp-page="Login" asp-page-handler="ResendEmail" asp-route-userId="@Model.RegisteredUserId">
                    Click <a href="#" onclick="this.parentNode.submit();">here</a> to resend the confirmation email.
                </form>
            }
        </div>
        }
        <div style="height: 20vh" class="text-center">
            <img class="h-100" src="~/MHFB.png" alt="MHFB Logo" />
        </div>
        <br />
        <br />
        <h2 class="text-center">@ViewData["Title"]</h2>
        <div class="row justify-content-center">
            <div class="col-md-4 text-left">
                <section>
                    <form id="account" method="post">
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password"></label>
                            <input onclick="checkCapsLock()" asp-for="Input.Password" class="form-control pass" />
                            <p class="text-center text" style="display: none;">WARNING! Caps lock is ON.</p>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" style="background-color: #8CB436; border: none" class="btn btn-primary w-100">Sign in</button>
                        </div>
                        <div class="form-group text-center">
                            <p>
                                @*<a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>*@
                                <a class="btn btn-light w-100" asp-page="./ForgotPassword">Forgot your password?</a>
                            </p>
                        </div>
                        <br />
                        <hr />
                        <div class="form-group text-center">
                            <h3 class="mb-4">Don't have an account?</h3>
                            <a asp-page="./Register" class="btn btn-light w-100">Apply for a volunteer position</a>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>

    <script src="~/js/caplock_check.js"></script>